/* header */
* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background: teal;
}

#logo_header {
    width: 100px;
    height: 100p;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

#contour_menu_header {
    border: 1px solid black;
    border-radius: 10em;
    background: url('images/footer_global.png');


}

#ul_row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;
}

.li_header {
    margin-left: 30px;
    margin-right: 30px;
    border-left: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

.a_header {
    text-decoration: none;
    color: white;
}

/* début du main */

main {
    margin-left: 300px;
    margin-right: 300px;
    background: cadetblue
}

#légende {
    margin-left: 100px;
    padding: 10px;
    width: 300px;
}

.li_légende {
    font-family: 'Roboto', sans-serif;
    opacity: 80%;
    background: linear-gradient(to right, #009933 0%, #99ff33 100%);
    color: white;
    padding: 8px;
    border-radius: 10em;
    margin-bottom: 3px;
}

#ul_légende>.li_légende:nth-child(2) {
    background: linear-gradient(to right, #0066cc 0%, #00ffff 100%);
}

#ul_légende>.li_légende:nth-child(3) {
    background: linear-gradient(to right, #999966 50%, #ffffff 90%);

}

#ul_légende>.li_légende:nth-child(4) {
    background: linear-gradient(to right, #cc0000 8%, #ff6666 100%);
}

/* Tableau de M */

#mise_en_page_du_tableau {
    display: flex;
    justify-content: center;
    padding: 50px;
}

table {
    border-collapse: collapse;
    background: url('images/background_fond_bleu.jpg');
    opacity: 90%;

}

.th_border {
    border-left: 2px solid rosybrown;
    border-right: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
    font-family: 'Sansita Swashed', cursive;

    width: 200px;
    height: 80px;
    font-family: 'Sansita Swashed', cursive;

}

.th_border_less {
    border-bottom: 2px solid rosybrown;
    width: 200px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;

}

#tr_titre {
    width: 250px;
    height: 80px;
    font-family: 'Sansita Swashed', cursive;

}

.tr_tableau {
    width: 250px;
    height: 200px;
    font-family: 'PT Sans', sans-serif;

}

.td_tableau {
    border: 2px solid rosybrown;
    width: 250px;
    height: 200px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;

}

.td_tableau_border_less {
    border-bottom: 2px solid rosybrown;
    text-align: center;
    font-family: 'PT Sans', sans-serif;

}

.image_dimension {
    width: 150px;
    height: 150px;
}

tr:last-child td {
    border-bottom: solid 0px;
}



/* Les quatre classes d'objets */
.a_lien_déjà_acheté {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 10em;
    background: linear-gradient(to right, #009933 0%, #99ff33 100%);

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.a_lien_déjà_réservé {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 10em;
    background: linear-gradient(to right, #0066cc 0%, #00ffff 100%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.a_lien_priorité_normal {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 10em;
    background: linear-gradient(to right, #999966 50%, #ffffff 90%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.a_lien_urgent {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 10em;
    background: linear-gradient(to right, #cc0000 8%, #ff6666 100%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}



/* début du footer */

footer {
    display: flex;
    flex-direction: row;
    background: url('images/footer_global.png');
    justify-content: space-between;
}

#contact_informatique {
    margin-left: 300px;
    background-color: rgba(173, 216, 230, .2);
    padding: 50px;
    width: 300px;

}

#formulaire {
    margin-right: 300px;
    background-color: rgba(173, 216, 230, .2);
    padding: 50px;
    width: 300px;
}

#cadre_contact {
    font-family: 'Roboto', sans-serif;
}

#cadre_formulaire {
    border: solid 1px black;
    border-radius: 10em;
    background: linear-gradient(to right, #009933 0%, #99ff33 100%);
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.a_decoration_none {
    text-decoration: none;
    color: darkred;
    font-size: 20px;

}

/* balise générales */
h1 {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 5px;
}





/*------------------------------------------------FORMULAIRE----------------------------------------------------------------------------------------*/
/*same header*/

/*main*/


.mise_en_page_form {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
}

.mise_en_page_fieldset {
    margin-right: 50px;
}

legend,
.ecart_dans_fieldset {
    padding: 10px;
}

.option_bold_menu {
    font-weight: bold;
    text-align: center;
    color: black;
}

#bouton_valider {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*same footer*/
/*---------------------------------------------------END-------------------------------------------------------------------------------------------*/